.webstudio {
    font-family: 'Raleway', sans-serif;
    letter-spacing: 0.03em;
    font-size: 26px;
    line-height: 31px;
    color: $black;
    padding: 24px 0;
    margin-right: 93px;
    text-decoration: none;
}
